@media screen and (min-width: 480px){
body{
		background:Mediumaquamarine;
}
#gallery li{
width: 28.3333%;
}
.profile-photo{
float: left;
margin: 0 5% 80px 0;
}

}
@media screen and (min-width: 660px){
	body{
		background:Mediumaquamarine;
}





#gallery li:nth-child(4n){
clear: left;
}




#logo{
float: left;
margin-left: 5%;
text-align: left;
width: 45%;
margin-bottom: 20px;
}

nav {
background: none;
float: right;
font-size: 1.125em;
margin-right: 5%;
text-align: right;
width: 45%;
margin-bottom: 20px;
}


}



#primary{
width: 50%;
float: left;
}
#secondary{
width: 40%;
float: right;
}



header{
height: 100px;
border-bottom: 5px solid #111921;
margin-bottom: 60px;
}


